/*-----------------General settings Start-----------------*/
html,
body {
  scroll-behavior: smooth;
  cursor: default;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Arial, sans-serif;
  background-color: var(--backgroundcolor);
}

* {
  box-sizing: border-box;
}

.page-content {
  display: flex;
  height: 100vh;
}
/*-----------------General settings End-------------------------*/
/*-------------------------------------------------------------*/
/*-----------------Variables for colors Start-----------------*/
:root {
  --backgroundcolor: rgb(17, 1, 25);
  --navigationcolor: linear-gradient(
    219deg,
    rgb(10, 1, 21) 0%,
    rgb(5, 3, 40) 50%,
    rgb(10, 1, 21) 100%
  );
  --maincontentcolor: #043d09;
}
/*-----------------Variables for colors End-----------------*/
/*---------------------------------------------------------*/
/*-----------------Navigation bar settings Start----------*/
#section-nav {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  background: var(--navigationcolor);
  height: 100vh;
  width: 18vw;
  padding: 20px;
  overflow: auto;
}

#navigation-ul {
  list-style-type: none;
  padding: 0;
}

#navigation-li a {
  display: block;
  width: 90%;
  padding: 8px 16px;
  color: aliceblue;
  text-decoration: none;
  text-align: center;
  font-size: 1.1em;
}

#section-nav ul li {
  margin: 20px 0;
}

#navigation-li a:hover {
  color: white;
  background: radial-gradient(circle, rgb(184, 2, 71) 0%, rgb(137, 2, 36) 100%);
  border-radius: 8px;
}

#navigation-li a:active {
  color: white;
  background: radial-gradient(circle, rgb(121, 2, 47) 0%, rgb(92, 1, 24) 100%);
  border-radius: 8px;
}

.active {
  background: radial-gradient(circle, rgb(184, 2, 71) 0%, rgb(137, 2, 36) 100%);
  color: white;
  border-radius: 8px;
  width: 90%;
}

h2 {
  color: rgb(228, 241, 252);
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  font-size: 2em;
  box-shadow: 5px 5px 15px 2px #000000;
  border-radius: 20px;
}

.h2span {
  color: orangered;
}

.creator {
  color: rgb(255, 255, 255);
  position: absolute;
  bottom: 0;
  font-size: 0.9em;
}
/*-----------------Navigation bar settings End-----------------*/
/*------------------------------------------------------------*/
/*-----------------Content section Start---------------------*/
.section-change {
  display: flex;
  flex-direction: row;
  flex: 1;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  background: linear-gradient(
    90deg,
    var(--maincontentcolor),
    var(--maincontentcolor)
  );
  box-sizing: border-box;
  scroll-behavior: smooth;
  z-index: 2;
}

.sections {
  min-width: 82vw;
  height: 100vh;
  overflow-y: auto;
  scroll-snap-align: start;
  padding: 25px;
  box-sizing: border-box;
}

h3 {
  font-size: 1.8em;
  color: aliceblue;
}
/*-------------------------------------------------------------*/
/*-----------------INFORMATIONS SECTION start-----------------*/
#informations {
  position: relative;
  background-image: url("https://github.com/CodelessA/Codeless-program/blob/main/HighwayNight.jpg?raw=true");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  padding: 20px;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

#informations::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.419);
  backdrop-filter: blur(10px);
  z-index: -1;
}

#informations-div {
  flex: 1;
  background: rgba(0, 0, 0, 0.485);
  color: white;
  padding: 25px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 75%;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.988);
  z-index: 4;
}

#informations-div p {
  font-size: 1.1em;
}
/*-----------------INFORMATIONS SECTION end-----------------*/
/*---------------------------------------------------------*/
/*-----------------Movies div start-----------------------*/
/*-------------------------------------------------------*/
/*-----------------Mutual settings start----------------*/
/*-----------------------------------------------------*/
#movies-div,
#games-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 45px;
  max-width: 65%;
}

#movies,
#games {
  position: relative;
  background-image: url("https://github.com/CodelessA/Codeless-program/blob/main/woman-.jpg?raw=true");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

#movies::before,
#games::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.419);
  backdrop-filter: blur(10px);
  z-index: 1;
}

#movies > *,
#games > *,
#informations {
  position: relative;
  z-index: 2;
}

#movies-div div,
#games-div div {
  padding: 1px;
  height: 150px;
  width: 150px;
  background: rgba(0, 0, 0, 0.405);
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.5s;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.988);
}

#movies-div div:hover,
#games-div div:hover {
  color: blueviolet;
  transform: scale(1.1, 1.1);
}

#movies h3,
#games h3 {
  margin-bottom: 20px;
}

#info-panel,
#info-panelG {
  flex: 1;
  background: rgba(0, 0, 0, 0.444);
  color: white;
  padding: 20px;
  margin-left: 20px;
  border-radius: 10px;
  max-width: 30%;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.988);
}

#movies-content,
#games-content {
  display: flex;
  justify-content: space-between;
}
/*---------------------------------------------------------*/
/*-----------------Mutual settings end--------------------*/
/*-------------------------------------------------------*/
/*-----------------Movies div end-----------------------*/
/*-----------------------------------------------------*/
/*-----------------Games div start--------------------*/
#games {
  background-image: url("https://github.com/CodelessA/RankPage-Project/blob/main/gamebckgroundphoto.jpg?raw=true");
}

#games-div div img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  object-position: center;
  border-radius: 10px;
}

#games-div div p {
  text-align: center;
  color: rgb(255, 255, 255);
  font-weight: 500;
  display: none;
}

/*-----------------Games div end-------------------------*/
/*------------------------------------------------------*/
/*-----------------Content section End-----------------*/
/*----------------------------------------------------*/
/*-----------------Responsive Design-----------------*/
@media (max-width: 1200px) {
  #section-nav {
    width: 25vw;
  }

  .sections {
    min-width: 75vw;
  }
}

@media (max-width: 992px) {
  #section-nav {
    width: 30vw;
  }

  .sections {
    min-width: 70vw;
  }
}

@media (max-width: 768px) {
  #section-nav {
    width: 35vw;
  }

  .sections {
    min-width: 65vw;
  }
}

@media (max-width: 576px) {
  #section-nav {
    width: 40vw;
  }

  .sections {
    min-width: 60vw;
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.2em;
  }
}

/*-----------------Mobile Design-----------------*/
@media (max-width: 480px) {
  #section-nav {
    width: 50vw;
  }

  .sections {
    min-width: 50vw;
  }

  h2 {
    font-size: 1.2em;
  }

  h3 {
    font-size: 1em;
  }
}
/*-----------------END-----------------*/
