/*-----------------General settings Start-----------------*/
html,
body {
  scroll-behavior: smooth;
  cursor: default;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Arial, sans-serif;
  background-color: var(--backgroundcolor);
}

* {
  box-sizing: border-box;
}

.page-content {
  display: flex;
  height: 100vh;
}
/*-----------------General settings End-----------------*/

/*-----------------Variables for colors Start-----------------*/
:root {
  --backgroundcolor: rgb(17, 1, 25);
  --navigationcolor: linear-gradient(
    219deg,
    rgb(9, 0, 22) 0%,
    rgb(7, 4, 47) 50%,
    rgba(9, 0, 22, 1) 100%
  );
  --maincontentcolor: #043d09;
}
/*-----------------Variables for colors End-----------------*/

/*-----------------Navigation bar settings Start-----------------*/
#section-nav {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  background: var(--navigationcolor);
  height: 100vh;
  width: 18vw;
  padding: 20px;
  overflow: auto;
}

#navigation-ul {
  list-style-type: none;
  padding: 0;
}

#navigation-li a {
  display: block;
  width: 90%;
  padding: 8px 16px;
  color: aliceblue;
  text-decoration: none;
  text-align: center;
}

#section-nav ul li {
  margin: 20px 0;
}

#navigation-li a:hover {
  color: white;
  background: radial-gradient(circle, rgb(184, 2, 71) 0%, rgb(137, 2, 36) 100%);
  border-radius: 8px;
}

#navigation-li a:active {
  color: white;
  background: radial-gradient(circle, rgb(121, 2, 47) 0%, rgb(92, 1, 24) 100%);
  border-radius: 8px;
}

h2 {
  color: rgb(228, 241, 252);
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  font-size: 2em;
  box-shadow: 5px 5px 15px 2px #000000;
  border-radius: 20px;
}

.h2span {
  color: rgb(243, 73, 11);
}

.creator {
  color: whitesmoke;
  position: absolute;
  bottom: 0;
  font-size: 18px;
}
/*-----------------Navigation bar settings End-----------------*/

/*-----------------Content section Start-----------------*/
.section-change {
  display: flex;
  flex-direction: row;
  flex: 1;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  background: linear-gradient(
    90deg,
    var(--maincontentcolor),
    var(--maincontentcolor)
  );
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.sections {
  min-width: 82vw;
  height: 100vh;
  overflow-y: auto;
  scroll-snap-align: start;
  padding: 25px;
  box-sizing: border-box;
}

h3 {
  font-size: 1.8em;
  color: aliceblue;
}

/*-----------------Movies div start-----------------*/
#movies {
  position: relative;
  background-image: url("https://github.com/CodelessA/RankPage-Project/blob/main/realfish.jpg?raw=true");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

#movies::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.419);
  backdrop-filter: blur(10px);
  z-index: 1;
}

#movies > * {
  position: relative;
  z-index: 2;
}

#movies h3 {
  margin-bottom: 20px;
}

#movies-content {
  display: flex;
  justify-content: space-between;
}

#movies-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  max-width: 65%;
}

#movies-div div {
  border: 1px solid whitesmoke;
  padding: 10px;
  height: 150px;
  width: 150px;
  background: black;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.5s;
}

#movies-div div:hover {
  color: rgb(21, 134, 27);
  transform: scale(1.1, 1.1);
}

#info-panel {
  flex: 1;
  background: rgba(0, 0, 0, 0.444);
  color: white;
  padding: 20px;
  margin-left: 20px;
  border-radius: 10px;
  max-width: 30%;
  display: flex;
  flex-direction: column;
}

/*-----------------Movies div end-----------------*/

/*-----------------Games div start-----------------*/
#games-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  max-width: 65%;
}

#games-div div {
  border: 1px solid whitesmoke;
  padding: 10px;
  height: 150px;
  width: 150px;
  background: black;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.5s;
}

#games-div div:hover {
  color: blueviolet;
  transform: scale(1.1, 1.1);
}

#games {
  position: relative;
  background-image: url("https://github.com/CodelessA/RankPage-Project/blob/main/gamebckgroundphoto.jpg?raw=true");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

#games::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.419);
  backdrop-filter: blur(10px);
  z-index: 1;
}

#games > * {
  position: relative;
  z-index: 2;
}

#games h3 {
  margin-bottom: 20px;
}

#games-content {
  display: flex;
  justify-content: space-between;
}

#info-panelG {
  flex: 1;
  background: rgba(0, 0, 0, 0.84);
  color: white;
  padding: 20px;
  margin-left: 20px;
  border-radius: 10px;
  max-width: 30%;
  display: flex;
  flex-direction: column;
}
/*-----------------Games div end-----------------*/

/*-----------------Content section End-----------------*/

/*-----------------Responsive Design-----------------*/
@media (max-width: 1200px) {
  #section-nav {
    width: 25vw;
  }

  .sections {
    min-width: 75vw;
  }
}

@media (max-width: 992px) {
  #section-nav {
    width: 30vw;
  }

  .sections {
    min-width: 70vw;
  }
}

@media (max-width: 768px) {
  #section-nav {
    width: 35vw;
  }

  .sections {
    min-width: 65vw;
  }
}

@media (max-width: 576px) {
  #section-nav {
    width: 40vw;
  }

  .sections {
    min-width: 60vw;
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.2em;
  }
}

/*-----------------Mobile Design-----------------*/
@media (max-width: 480px) {
  #section-nav {
    width: 50vw;
  }

  .sections {
    min-width: 50vw;
  }

  h2 {
    font-size: 1.2em;
  }

  h3 {
    font-size: 1em;
  }
}

/*<------------------Possible to use ----------------------->
:root {
  --general-color1: #06121d;
  
  --navbar-colorMid: #01203c;
  --hr-color: #1f0234;
  --main-color: #dfe8f0;
}

background: linear-gradient(
    90deg,
    var(--navbar-color1),
    #01203c,
    var(--navbar-color1)
  );
*/
